#box
{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

#timer
{
    top: 500px;
    height: 40px;
    width: 50px;
    border: 2px solid rgb(55, 51, 51);
    
    position: left;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.timer-blacks
{
    border: 1px solid rgb(55, 51, 51);
    color:whitesmoke;
    background-color:rgb(55, 51, 51);
}

.timer-whites
{
    border: 1px solid rgb(55, 51, 51);
    color:rgb(55, 51, 51);
    background-color: whitesmoke;
}

#username
{
    color: gold;
    font-size: 20px;
    background-attachment: scroll;
}

#board
{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(55, 51, 51);
    
    position: relative;
    z-index: 1;
    background-position: center, relative;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.coordinate-light
{
    color: rgba(181, 136, 99, 255);
}
.coordinate-dark
{
    color: rgba(240, 217, 181, 255);
}

.piece
{
    height: 40px;
    width: 40px;
    
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.br {}
.bn {}
.bb {}
.bq {}
.bk {}
.bp {}
.wr {}
.wn {}
.wb {}
.wq {}
.wk {}
.wp {}

.square-88 {left: 5px; top: 5px;}
.square-78 {left: 55px; top: 5px;}
.square-68 {left: 105px; top: 5px;}
.square-58 {left: 155px; top: 5px;}
.square-48 {left: 205px; top: 5px;}
.square-38 {left: 255px; top: 5px;}
.square-28 {left: 305px; top: 5px;}
.square-18 {left: 355px; top: 5px;}

.square-87 {left: 5px; top: 55px;}
.square-77 {left: 55px; top: 55px;}
.square-67 {left: 105px; top: 55px;}
.square-57 {left: 155px; top: 55px;}
.square-47 {left: 205px; top: 55px;}
.square-37 {left: 255px; top: 55px;}
.square-27 {left: 305px; top: 55px;}
.square-17 {left: 355px; top: 55px;}

.square-86 {left: 5px; top: 105px;}
.square-76 {left: 55px; top: 105px;}
.square-66 {left: 105px; top: 105px;}
.square-56 {left: 155px; top: 105px;}
.square-46 {left: 205px; top: 105px;}
.square-36 {left: 255px; top: 105px;}
.square-26 {left: 305px; top: 105px;}
.square-16 {left: 355px; top: 105px;}

.square-85 {left: 5px; top: 155px;}
.square-75 {left: 55px; top: 155px;}
.square-65 {left: 105px; top: 155px;}
.square-55 {left: 155px; top: 155px;}
.square-45 {left: 205px; top: 155px;}
.square-35 {left: 255px; top: 155px;}
.square-25 {left: 305px; top: 155px;}
.square-15 {left: 355px; top: 155px;}

.square-84 {left: 5px; top: 205px;}
.square-74 {left: 55px; top: 205px;}
.square-64 {left: 105px; top: 205px;}
.square-54 {left: 155px; top: 205px;}
.square-44 {left: 205px; top: 205px;}
.square-34 {left: 255px; top: 205px;}
.square-24 {left: 305px; top: 205px;}
.square-14 {left: 355px; top: 205px;}

.square-83 {left: 5px; top: 255px;}
.square-73 {left: 55px; top: 255px;}
.square-63 {left: 105px; top: 255px;}
.square-53 {left: 155px; top: 255px;}
.square-43 {left: 205px; top: 255px;}
.square-33 {left: 255px; top: 255px;}
.square-23 {left: 305px; top: 255px;}
.square-13 {left: 355px; top: 255px;}

.square-82 {left: 5px; top: 305px;}
.square-72 {left: 55px; top: 305px;}
.square-62 {left: 105px; top: 305px;}
.square-52 {left: 155px; top: 305px;}
.square-42 {left: 205px; top: 305px;}
.square-32 {left: 255px; top: 305px;}
.square-22 {left: 305px; top: 305px;}
.square-12 {left: 355px; top: 305px;}

.square-81 {left: 5px; top: 355px;}
.square-71 {left: 55px; top: 355px;}
.square-61 {left: 105px; top: 355px;}
.square-51 {left: 155px; top: 355px;}
.square-41 {left: 205px; top: 355px;}
.square-31 {left: 255px; top: 355px;}
.square-21 {left: 305px; top: 355px;}
.square-11 {left: 355px; top: 355px;}