body
{
    font-family: Helvetica;
    background-color: #696969;
    text-align: center;
}
h1, h2, h3
{
    color:gold;
}
#player, #form, #player_logged_in
{
    color: rgb(55, 51, 51);
    background-color: rgb(236, 232, 118);
    text-align: center;
    border: 5px solid rgb(55, 51, 51);
    margin: 10px auto 10px auto;
}
#player
{
    height: 150px;
    width: 300px;
}
#form
{
    height: 300px;
    width: 300px;
}
#player_logged_in
{
    height: 200px;
    width: 300px;
}